/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* src/css/custom.css */

/* 修改 .heroBanner 的背景颜色和文字颜色 */
.heroBanner {
  padding: 12rem 0;
  text-align: center;
  position: relative;
  overflow: auto;
  /* background-color: var(--ifm-color-primary-lighter)； */
  background-color: white; /* 明亮模式下的背景颜色 */
  background-image: url(../../static/img/NYPD_Truck_with_officers.jpg);
  background-position: center;
  -webkit-text-fill-color: white; /* 明亮模式下的文字颜色 */
  background-size: contain;
}

/* 在暗黑模式下修改 .heroBanner 的颜色 */
[data-theme='dark'] {
  .heroBanner {
    padding: 15rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    /* background-color: var(--ifm-color-primary-lighter); */
    background-color: #1b1b1d; /* 暗黑模式下的背景颜色 */
    -webkit-text-fill-color: white; /* 暗黑模式下的文字颜色 */
  }
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
