/* @font-face {
    font-family: 'PingFang';
    src: url('/static/fonts/PingFang-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro';
    src: url('/static/fonts/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProMedium';
    src: url('/static/fonts/SF-Pro-Text-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'SFPro', 'PingFang';
} */