/* @font-face {
    font-family: 'SF Pro Dispaly Regular';
    src: url('/static/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PingFangSC Regular';
    src: url('/static/fonts/PingFangSC-Regular.otf') format('opentype');
} */

body, h1, h2, h3, h4, h5, h6, p {
    /* font-family: 'SF Pro Display Medium', 'PingFangSC Medium', sans-serif; */
    /* font-family: 'SF Pro Display Regular', 'PingFangSC Regular', sans-serif; */
    font-family: system-ui, -apple-system;
} 