h2, h3, h4, h5, h6 {
    /* color: var(--ifm-color-primary-light); */
    color: #40b8fa;
}

body {
    font-size: 1.1em;
}

h1 {
    font-size: 1.7em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 1.6em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

h4 {
    font-size: 1.4em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

h5 {
    font-size: 1.3em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

h6 {
    font-size: 1.2em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.university_title {
    font-size: 1em;
    line-height: 1.5;
}

.navbar {
    font-size: 1em;
}

.table-of-contents {
    font-size: 0.9em;
}

/* Add List Number for each Heder here. */

/* Add List Number for each Header */

h1 {
    /* 不需要重置h2的计数器 */
}

h2 {
    counter-increment: h2; /* 每次h2出现时，h2计数器加1 */
    counter-reset: h3; /* 重置h3的计数器 */
}

h3 {
    counter-increment: h3; /* 每次h3出现时，h3计数器加1 */
    counter-reset: h4; /* 重置h4的计数器 */
}

h4 {
    counter-increment: h4; /* 每次h4出现时，h4计数器加1 */
    counter-reset: h5; /* 重置h5的计数器 */
}

h5 {
    counter-increment: h5; /* 每次h5出现时，h5计数器加1 */
    counter-reset: h6; /* 重置h6的计数器 */
}

h6 {
    counter-increment: h6; /* 每次h6出现时，h5计数器加1 */
}

h2:before {
    content: counter(h2); /* 显示h2的编号 */
    margin-right: 0.5em;
}
  
h3:before {
    content: counter(h2) "." counter(h3); /* 显示h2.h3的编号 */
    margin-right: 0.5em;
}
  
h4:before {
    content: counter(h2) "." counter(h3) "." counter(h4); /* 显示h2.h3.h4的编号 */
    margin-right: 0.5em;
}
  
h5:before {
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5); /* 显示h2.h3.h4.h5的编号 */
    margin-right: 0.5em;
}
  
h6:before {
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6); /* 显示h2.h3.h4.h5.h6的编号 */
    margin-right: 0.5em;
}
